html, body {
    margin: 0;
    padding: 0;
    background-color: #EEEEEE;
    font-family: 'Raleway', 'sans-serif'
}

header {        
    text-align: center
}

header > img {
    display: inline-block;
    margin: auto 0;
}

/* CONTAINER */

.container {
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;    
    /* flex-wrap: wrap; */
    background-color: white;
    border-radius: 10px;
    width: 40rem;
    justify-content: space-between;
    align-items:stretch;
    box-shadow: 0px 10px 50px rgb(75, 72, 72);
    
    
}

/* SEARCH BOX */

.search-box{
    height: 5rem;    
    margin: auto;   
    display: flex;
    justify-content: center;
    flex-direction:row;
    
    width: 100%;
}

.search-box > input {
    margin: 2rem 0;
    height: 2rem;
    flex-basis: 60%;
    margin-right: 5px;    
    font-size: 1rem;
    border: none;
    border-bottom: 1px solid rgb(75, 72, 72);
}
.search-box > input, textarea {
    outline: none;
}
.search-box > button {
    margin: 2rem 0;
    height: 2.4rem;
    flex-basis: 20%;
    padding: 0.5em;
    margin-left: 5px;
    border-radius: 8px;
    font-size: 1rem;   
}

button:hover {
    cursor: pointer;
    background-color: gray;
    color: white;
}

/* USER INFO */

.user-data {    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;    
}

.user-data > img {
    max-height: 150px;
    
}

.user-data > div {    
    flex-basis: 60%;
    margin-left: 10px;    
}

/* REPOS */

.user-repos {
    margin-right: 8%;
    display:none;
}

.user-repos > h2 {
    margin-left:8%;
    
}

.user-repos > hr {
        border: 0;
        height: 1px;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));    
        
}

.repos-list {
    height: 400px;
    overflow-y: scroll;
}

.repos-list > li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
}

.icons > img {
    margin-top: 40%;
}

/* NO RESULTS */

.no-results {
    border: 1px solid #C9A9A8;
    background-color: #F8D9D9;
    height: 10rem;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;    
    display:none;
}

.no-results > p {
    margin-top: 3rem;
}






